<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments}">
<head>
    <title layout:fragment="head">Formatting Result</title>
</head>
<body>
<div layout:fragment="navbar"></div>

<main layout:fragment="content" class="container mt-5">
    <h2 class="mb-4">Formatting Result</h2>
    <div class="row gx-4 gy-4">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header">Original Code</div>
                <div class="card-body">
            <pre class="card-text"><code
                    th:text="${originalCode}"></code></pre>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 border-success">
                <div class="card-header bg-success text-white">
                    Formatted Code
                </div>
                <div class="card-body">
            <pre class="card-text"><code
                    th:text="${formattedCode}"></code></pre>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/}" class="btn btn-secondary mt-4">
        &#8592; Back to Form
    </a>
</main>

<div layout:fragment="footer"></div>
</body>
</html>
