<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="myHead">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title layout:title-pattern="$CONTENT_TITLE">CodeFormatter</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}"/>
</head>

<body class="d-flex flex-column min-vh-100">
<main layout:fragment="content" class="container flex-fill py-5"></main>

<footer th:replace="fragments :: myFooter"></footer>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
